.modal {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 999999;

  .modal-fade {
    animation: fade-in 1s 1 linear;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: auto;
    right: auto;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
  }

  .modal-body {
    z-index: 99999;
    position: fixed;
    background-color: #fff;
    left: auto;
    top: auto;
    transform: translate(-50%, -50%);
    padding: 1rem 0;
    height: 100vh;
    transform: none;
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      border-bottom: 1px solid rgba(0,0,0,.12);
      padding: 1rem;

      .modal-close {
        left: 15px;
        top: 20px;
        color: #5e5e5e;
        cursor: pointer;
        font-size: 1.25em;
        padding: 7px;
        background: rgba(255, 255, 255, 0.749);
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999999;
        box-sizing: border-box;
      }

      .notification-name {
        font-family: "SVN-Gilroy-Bold", sans-serif;
        font-size: 24px;
        font-weight: 700;
        display: flex;
        align-items: center;
        color: #F95846;
      }
    }

    .notification-content {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      min-height: 0;

      .notification-wrapper {
        overflow: scroll;

        .notification {
          display: flex;
          justify-content: space-evenly;
          padding: 1rem 0;
          overflow: hidden;

          .notification-image {
            img {
              width: 4rem;
              height: 4rem;
            }
          }
          
          .notification-detail {
            .notification-detail__info {
              display: flex;
              justify-content: space-between;

              .notification-info__name {
                font-family: "SVN-Gilroy-Bold", sans-serif;
                font-size: 16px;
                font-weight: 700;
              }
              .notification-info__date {
                color: #adb4bb;
                font-size: 12px;
                font-weight: 700;
              }
            }

            .notification-description {
              width: 300px;
              font-size: 16px;
              padding-top: 0.5rem;
            }
          }
        }

        .active {
          background-color: #D7E5FF;
        }
      }
    }
  }
}
