@font-face {
  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: normal;
  src: url('../public/fonts/SVN-Gilroy-Reguler.ttf') format('truetype');
}

@font-face {
  font-family: 'SVN-Gilroy-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../public/fonts/SVN-Gilroy-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SVN-Gilroy-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../public/fonts/SVN-Gilroy-Bold.ttf') format('truetype');
}
