@use "sass:list";
@use "sass:string";

$primary-color: #002A48;
$neutral-color: #242B33;
$normal-color: #FFFFFF;
$soft-color: #FDFDFD;
$dark-color: #000000;
$secondary-color: #FCEED5;
$state-color: #00A7E7;
$tertiary-color: #003459;
$faded-color: #FCEED5;
